<div class="small-component">
    <div class="image">
        <img src="https://miro.medium.com/v2/resize:fit:850/1*KHoG7TZROBiJ_RQ8rGLWUQ.jpeg"
            alt="Imagem de uma interface de desenvolvimento com codigo escrito em linguagem Java"
            srcset="https://miro.medium.com/v2/resize:fit:850/1*KHoG7TZROBiJ_RQ8rGLWUQ.jpeg"/>
    </div>
    <div class="text">
        <p>A linguagem java é uma linguagem que nasceu no ano de 1995 por James Gosling na empresa Sun Micro
            systemns, atualmente é uma das linguagens mais utilizadas no mercado contanto com suporte para
            back-end, front-end, mobile e nos ultimos anos até mesmo com cloud computing com o framework Quarkus.
        </p>

    </div>  
</div>
<div class="separator-container">
<hr>
</div>

